footer {
  background-color: #1e1e1e;
  color: white;
  padding: 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: flex-start;
}

footer h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.footer-list img {
  width: 24px;
  height: 24px;
}

footer a {
  color: white;
  text-decoration: none;
  transition: text-decoration 0.3s;
}

footer a:hover {
  text-decoration: underline;
}

/* ========================
   Responsividade
======================== */
@media (max-width: 504px) {
  .footer-grid {
    grid-template-columns: 1fr; /* empilha as colunas */
    gap: 1.5rem;
  }

  footer {
    padding: 1.5rem 1rem;
  }
}