/* ========================
   Seção Exemplo
======================== */

.exemplo {
    position: relative;
    background-color: #6c63ff;
    padding: 60px;
    overflow: hidden;
}

.exemplo .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
}

/* ========================
   Conteúdo de Texto
======================== */

.text-content {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    z-index: 2;
}

.text-content h1 {
    font-size: 64px;
    color: white;
    line-height: 1.1;
    margin-bottom: 30px;
}

@media (max-width: 720px){
    .text-content h1 {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}

/* ========================
   Caixa de Exemplo
======================== */

.exemplo-form {
    background-color: white;
    padding: 20px 30px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 80px;
    max-width: 780px;
}

.exemplo-form p {
    margin: 0;
    font-size: 18px;
    color: #1e1e1e;
}

/* ========================
   Botão
======================== */

#gerarExemplo{
    background-color: #1e1e1e;
    color: white;
}

#gerarExemplo:hover {
  background-color: #6c63ff;
}

/* ========================
   Imagem fora do container
======================== */

.image-outside {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.image-outside img {
  height: 510px;
  width: auto;
  border-radius: 10px;
  display: block;
}