/* ========================
   Conteúdo Principal
======================== */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  background-color: white;
  flex: 1;
}

/* ========================
   Formulário
======================== */

form.formulario {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 30px;
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.form-group {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.formulario h1 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario textarea {
  width: 100%;
  padding: 15px;
  border: 2px solid #8c52ff;
  border-radius: 6px;
  font-size: 16px;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

.formulario textarea {
  resize: vertical;
  height: 120px;
}

/* ========================
   Botões gerar/analisar
======================== */

.botoes {
  display: flex;
  gap: 100px;
  margin-top: 20px;
}

.formulario .button {
  background-color: #8c52ff;
  color: white;
  font-size: 32px;
  border-radius: 5px;
  padding: 15px 40px;
  cursor: pointer;
  transition: 0.5s;
}

.formulario .button:hover {
  background-color: white;
  color: #1e1e1e;
  border: 2px solid #8c52ff;
}

  @media (max-width: 720px) {
  form.formulario {
    padding: 20px;
    gap: 20px;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
  }

  .form-group {
    max-width: 100%;
  }

  .formulario textarea {
    height: 180px;
  }

  .botoes {
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
  }

  .formulario .button {
    width: 100%;
    max-width: 280px;
    font-size: 24px;
  }
}
