/* ========================
   Layout do Cabeçalho
======================== */

.header{
    background-color: #1E1E1E;
}

.header .container {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 70px;
    align-items: center;
    padding: 0 2rem;
}

.branding{
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    height: 65px;
    width: 65px;
    object-fit: contain;
}


/* ========================
   Título do Cabeçalho
======================== */

.header h1 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.p2 {
    color: #8C52FF;
}

    @media (max-width:720px) {
        .header .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .header h1 {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .logo {
            order: -1;
        }
    }

/* ========================
   Botão de Alternar Tema
======================== */

.switch {
    position: relative;
    display: inline-block;
    width: 142px;
    height: 67px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    cursor: pointer;
    background-color: #1e1e1e;
    border: 2px solid #ffffff;
    border-radius: 34px;

    transition: background-color 0.4s;
}

.slider::before {
    content: "";
    position: absolute;

    width: 55px;
    height: 55px;
    left: 5px;
    bottom: 4.6px;

    background-color: #ffffff;
    border-radius: 50%;

    transition: transform 0.4s;
}

input:checked + .slider {
    background-color: #2196f3;
}

input:checked + .slider::before {
    transform: translateX(73px);
}

    @media (max-width:720px) {
        .switch {
            width: 130px;
            height: 60px;
        }
        .slider::before {
            width: 48px;
            height: 48px;
            left: 6px;
            bottom: 4px;
        }
    
        input:checked + .slider::before {
            transform: translateX(66px);
        }
    }
    @media (max-width: 422px) {
    .header .container {
        gap: 15px;
        padding: 1rem;
    }

    .header h1 {
        font-size: 24px;
    }   

    .switch {
        width: 120px;
        height: 48px;
    }

    .slider::before {
        width: 35px;
        height: 35px;
        left: 5px;
        bottom: 5px;
        transition: transform 0.4s;
    }

    input:checked + .slider::before {
        transform: translateX(73px);
    }

}